<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
      body {
        /*background-image: url("img/bg_gray_sfweb_small.jpg");*/
        /*background-repeat: repeat;*/
      }

      .post-block {
        width: 500px;
        height: 200px;
        margin: 0 auto;
        padding: 20px;
        border-radius: 20px;
        box-sizing: border-box;
        /*background-origin: padding-box, border-box;*/
        background-repeat: no-repeat;
        border: 10px solid transparent;
        border-image-source: url("img/post-back.png");
        border-image-slice: 12;

        background-image:
                radial-gradient(circle at center, #fff 0, #fff 46%, transparent 50%, transparent),
                radial-gradient(circle at center, #fff 0, #fff 46%, transparent 50%, transparent),
                radial-gradient(circle at center, #fff 0, #fff 46%, transparent 50%, transparent),
                radial-gradient(circle at center, #fff 0, #fff 46%, transparent 50%, transparent),
                linear-gradient(to bottom, antiquewhite, antiquewhite);
        background-position:
                5px 5px,
                calc(100% - 5px) 5px,
                5px calc(100% - 5px),
                calc(100% - 5px) calc(100% - 5px),
      0 0;
        background-size:
                12px 12px,
                12px 12px,
                12px 12px,
                12px 12px,
                100% 100%;

      }

    </style>
  </head>
  <body>

    <!--<div id="app">-->
      <!--{{ message }}-->
    <!--</div>-->

    <!--<div id="app2">-->
      <!--<span v-bind:title="sms">-->
        <!--Наведи на меня курсор на пару секунд,-->
    <!--чтобы увидеть динамически связанное значение title!-->
      <!--</span>-->
    <!--</div>-->

    <!--<div id="app3">-->
      <!--<span v-if="seen">Я есть</span>-->
    <!--</div>-->

    <!--<div id="app4">-->
      <!--<ol>-->
        <!--<li v-for="item in arr">-->
          <!--{{ item.text }}-->
        <!--</li>-->
      <!--</ol>-->
    <!--</div>-->

    <!--<div id="app5">-->
      <!--<p>{{ message }}</p>-->
      <!--<button v-on:click="reverseMessage"  v-on:dblclick="oneMoreMethod">Перевернуть сообщение</button>-->
    <!--</div>-->

    <!--<div id="app6">-->
      <!--<p>{{ message }}</p>-->
      <!--<input v-model="message">-->
    <!--</div>-->

    <!--<div id="app7">-->
      <!--<ol>-->
        <!--&lt;!&ndash; item - это "штучка в кучке", может называться как угодно, это один элемент массива&ndash;&gt;-->
        <!--&lt;!&ndash; v-for создаст то кол-во li, сколько элементом в переданном из data массиве &ndash;&gt;-->
        <!--&lt;!&ndash; v-bind:todo &ndash;&gt;  &lt;!&ndash; поддерживает состояние элемента в соответствии со значением входного параметра &ndash;&gt;-->
        <!--<todo-item-->
                <!--v-for="item in groceryList"-->
                <!--v-bind:todo="item"-->
                <!--v-bind:key="item.id"-->
        <!--&gt;</todo-item>-->
      <!--</ol>-->
    <!--</div>-->

    <!--<div id="app8">-->
      <!--<p> {{ foo }} </p>-->
    <!--</div>-->

    <!--<div id="app9">-->
      <!--<p>Сообщение: {{ rawHTML }}</p>-->
      <!--<p>Сообщение: <span v-html="rawHTML"></span></p>-->
    <!--</div>-->

    <!--<div id="app11">-->
      <!--<p>Сообщение (прямая интерполяция ТЕКСТА) : <span>{{ message1 }}</span></p>-->
      <!--<p>Сообщение (прямая интерполяция КОДА) : <span>{{ message2 }}</span></p>-->
      <!--<p>Сообщение (код через v-html) : <span v-html='message3'>{{ message3 }}</span></p>-->

      <!--<button v-bind:disabled="isButtonDisabled">Кнопка</button>-->

      <!--<p>{{ +number + 1 }}</p>-->
      <!--<p>{{ ok ? 'Yes' : 'No' }}</p>-->
      <!--<p>{{ a + number }}</p>-->

      <!--<div v-bind:class="'list-' + id"></div>-->

      <!--<ol>-->
        <!--<li v-for="item in items" v-bind:class="'social social&#45;&#45;' + item.mod "> {{ item.text }}</li>-->
      <!--</ol>-->
    <!--</div>-->

    <!--<div>-->
      <!--<div id="app12">-->
        <!--<p> {{ text }} </p>-->
        <!--&lt;!&ndash;<img :src="imgUrls.b" alt="">&ndash;&gt;-->
        <!--&lt;!&ndash;<img :src="imgUrls.a" alt="">&ndash;&gt;-->
        <!--&lt;!&ndash;<a v-bind:[someAttr]="value"> ... </a>&ndash;&gt;-->
        <!--&lt;!&ndash;<a v-bind:['foo' + bar]="value"> ... </a>&ndash;&gt; &lt;!&ndash; Пример, как НЕ надо &ndash;&gt;-->
      <!--</div>-->
    <!--</div>-->

    <!--<div id="app13">-->
      <!--<p>Изначальное сообщение: {{ startMessage }}</p>-->
      <!--<p>Итоговое сообщение: {{ computedMessage }}</p>-->
      <!--<p>Итоговое сообщение: {{ getEndMessage() }}</p>-->
      <!--<p>Date now: {{ now }}</p>-->
    <!--</div>-->

    <!--<div id="app14">-->
      <!--<p>{{ fullName }}</p>-->
    <!--</div>-->

    <!--<div id="watch-example">-->
      <!--<p>-->
        <!--Задайте вопрос, на который можно ответить «да» или «нет»:-->
        <!--<input type="text" v-model="question">-->
      <!--</p>-->
      <!--<p>{{ answer }}</p>-->
    <!--</div>-->

    <!--<div id="post">-->
      <!--<div class="post-block"></div>-->
    <!--</div>-->

    <!--<div id="classes">-->
      <!--<div v-bind:class="classObject">Куку</div>-->
    <!--</div>-->

    <!--<div id="classesTwo">-->
      <!--<div-->
              <!--v-bind:class="[{active: isActive}, errorClass]"-->
              <!--v-bind:style="[styleObject, additionStyleObject, {display: ['webkit-box', 'flex']}]"-->
      <!--&gt;-->
        <!--Массив</div>-->
    <!--</div>-->
    <div id="vIf">
        <h1 v-if="type === 'A'">Vue восхитителен!</h1>
        <h1 v-else-if="type === 'B'">Неученье - тьма!</h1>
        <h1 v-else-if="type === 'C'">One more text!</h1>
        <h1 v-else>Ни то, ни другое, ни третье!</h1>
    </div>

    <div id="key">
      <template v-if="loginType === 'username' ">
        <label>Имя пользователя</label>
        <input placeholder="Введите имя пользователя">
      </template>
      <template v-else>
        <label>Email</label>
        <input placeholder="Введите адрес email">
      </template>
      <button v-show="show">Переключить!</button>
    </div>

    <ul id="list">
      <li v-for="(item, index) of items">
        {{ parentMessage }} - {{ index }} - {{ item.message }}
      </li>
    </ul>

    <ul id="list2">
      <li v-for="(word, key, number) in object">
        {{ number + 1 }} - {{ key }} : {{ word }}
      </li>
    </ul>

    <div id="element">
      <div v-for="item in items" v-bind:key="item.id">
        {{ item.message }}
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>
      // var app = new Vue ({
      //     el: '#app',
      //     data: {
      //         message: 'Привет, Vue! Я тебя люблю!'
      //     }
      // });
      //
      // var app2 = new Vue({
      //     el: '#app2',
      //     data: {
      //         sms: 'Вы загрузили эту страницу: ' + new Date().toLocaleString()
      //     }
      // })
      //
      // var app3 = new Vue ({
      //     el: '#app3',
      //     data: {
      //         seen: true
      //     }
      // })
      //
      // var app4 = new Vue ({
      //     el: '#app4',
      //     data: {
      //         arr: [
      //             {text: 'Выучить Vue'},
      //             {text: 'Выучить Webpack'},
      //             {text: 'Стать крутым фронтом'}
      //         ]
      //     }
      // })
      //
      // var app5 = new Vue ({
      //     el: '#app5',
      //     data: {
      //         message: 'Привет, Vue! Я тебя люблю!'
      //     },
      //     methods: {
      //         reverseMessage: function () {
      //             this.message = this.message.split('').reverse().join('')
      //         },
      //         oneMoreMethod: function () {
      //             this.message = this.message.split('').reverse().join(' ')
      //         }
      //     }
      // });
      //
      // var app6 = new Vue ({
      //     el: '#app6',
      //     data: {
      //         message: 'Напиши тут что-нибудь'
      //     }
      // })
      //
      // Vue.component('todo-item', {
      //     props: ['todo'],
      //     template: '<li>{{ todo.text }}</li>'
      // });
      //
      // var app7 = new Vue({
      //     el: '#app7',
      //     data: {
      //         groceryList: [
      //             {id: 0, text: 'Овощи'}, // каждый пункт - это item in groceryList
      //             {id: 1, text: 'Сыр'}, // у каждого item есть свойство id и свойство text
      //             {id: 2, text: 'Что там еще люди едят?'}
      //         ]
      //     }
      // });
      //
      // var obj = {
      //     foo: 'bar'
      // };
      //
      // Object.freeze(obj);
      //
      // new Vue({
      //     el: '#app8',
      //     data: obj
      // });
      //
      // var app9 = new Vue ({
      //     el: '#app9',
      //     data: {
      //         rawHTML: '<span style="color: darkred">Этот текст красный</span>',
      //     }
      // });

      // var app11 = new Vue ({
      //     el: '#app11',
      //     data: {
      //         message1: 'Hello, World!',
      //         message2: '<span style="color: darkmagenta">Hello, World! Now it\\\'s </span><span style="color: darkmagenta">\' + new Date().toLocaleString() + \'</span>',
      //         message3: '<span style="color: darkmagenta">Hello, World! Now it\'s </span><span style="color: darkmagenta">' + new Date().toLocaleString() + '</span>',
      //         isButtonDisabled: 'yeah',
      //         number: 8,
      //         ok: true,
      //         a: 2,
      //         id: 'block',
      //         items: [
      //             {
      //                 mod: 'fb',
      //                 text: 'Facebook'
      //             },
      //             {
      //                 mod: 'vk',
      //                 text: 'Вконтакте'
      //             },
      //             {
      //                 mod: 'tw',
      //                 text: 'Twitter'
      //             }
      //         ]
      //     }
      // })
      //
      // var app12 = new Vue ({
      //   el: '#app12',
      //   data: {
      //     text: 'Привет, я текст! :-)',
      //       someattr: 'data-attr',
      //       value: 'fooBarr',
      //       bar: 'data-bar',
      //     imgUrls: {
      //       a: 'img/banner.jpg',
      //       b: 'img/banner.webp'
      //     }
      //   }
      // })
      //
      // var app13 = new Vue ({
      //     el: '#app13',
      //     data: {
      //         startMessage: 'Hello, Vue! I love You!'
      //     },
      //     methods: {
      //         getEndMessage: function () {
      //             return this.startMessage.split('').join('-')
      //         }
      //     },
      //     computed: {
      //         computedMessage: function () {
      //             return this.startMessage.split('').reverse().join('')
      //         },
      //         now: function () {
      //             return Date.now();
      //         }
      //     }
      // })
      //
      // var app14 = new Vue ({
      //     el: '#app14',
      //     data: {
      //         firstName: 'Foo',
      //         lastName: 'Bar'
      //     },
      //     computed: {
      //       fullName: {
      //           get: function () {
      //               return this.firstName + ' ' + this.lastName
      //           },
      //           // set: function (newValue) {
      //           //  var names = newValue.split(' ');
      //           //  this.firstName = names[0];
      //           //  this.lastName = names[names.length - 1];
      //           // }
      //       }
      //     }
      // })
      //
      // var watchExampleVM = new Vue ({
      //     el: '#watch-example',
      //     data: {
      //         question: '', // чтобы можно было установить реактивную связь (?)
      //         answer: 'Пока вы не зададите вопрос, я не смогу ответить!'
      //     },
      //     watch: {
      //     //    эта функция запускается при любом изменении question (значение поля)
      //         question: function (newQuestion, oldQuestion) {
      //             this.answer = 'Ожидаю, когда вы закончите печатать…'
      //             this.debouncedGetAnswer()
      //         }
      //     },
      //     created: function () {
      //         // _.debounce — это функция lodash, позволяющая ограничить то,
      //         // насколько часто может выполняться определённая операция.
      //         // В данном случае мы ограничиваем частоту обращений к yesno.wtf/api,
      //         // дожидаясь завершения печати вопроса перед отправкой ajax-запроса.
      //         // Узнать больше о функции _.debounce (и её родственнице _.throttle),
      //         // можно в документации: https://lodash.com/docs#debounce
      //         this.debouncedGetAnswer = _.debounce(this.getAnswer, 500)
      //     },
      //     methods: {
      //         getAnswer: function () {
      //             if (this.question.indexOf('?') === -1) {
      //                 this.answer = 'Вопросы обычно заканчиваются вопросительным знаком ;-)'
      //                 return
      //             }
      //
      //             this.answer = 'Думаю…';
      //             var vm = this;
      //             axios.get('https://yesno.wtf/api')
      //                 .then(function (response) {
      //                     vm.answer = _.capitalize(response.data.answer)
      //                 })
      //                 .catch(function (error) {
      //                     vm.answer = 'Ошибка! Не могу связаться с API. ' + error
      //                 })
      //         }
      //     }
      // })
      //
      // var post = new Vue ({
      //     el: '#post'
      // })
      //
      // var vm = new Vue ({
      //     el: '#classes',
      //     data: {
      //         isActive: true,
      //         error: {
      //             type: 'fatal'
      //         }
      //     },
      //     computed: {
      //         classObject: function () {
      //             return {
      //                 active: this.isActive && !this.error,
      //                 'text-danger': this.error && this.error.type === 'fatal'
      //             }
      //         }
      //     }
      // })
      //
      // var vm2 = new Vue ({
      //     el: '#classesTwo',
      //     data: {
      //         isActive: true,
      //         errorClass: 'danger-2',
      //         option: true,
      //         styleObject: {
      //             border: '3px dashed green',
      //             backgroundColor: 'gold'
      //         }
      //     },
      //
      //     computed: {
      //         additionStyleObject: function () {
      //             return {
      //                 color: this.isActive ? 'red' : 'blue',
      //                 'font-size': this.isActive ? '30px' : '20px',
      //                 border: this.option ? '10px solid violet' : '',
      //                 backgroundColor: ''
      //             }
      //
      //         }
      //     }
      // })

      var vIf = new Vue ({
          el: '#vIf',
          data: {
              type: true
          }
      })

      // Vue.component('login-field', {
      //
      // })

      var key = new Vue ({
          el: '#key',
          data: {
              loginType: 'username',
              flag: false,
              show: true
          },


      })

      var list = new Vue({
          el: "#list",
          data: {
              parentMessage: 'Message',
              items: [
                  { message: 'Foo'},
                  { message: 'Bar'},
                  { message: 'Bazz'},
                  { message: 'Hello'}
              ]
          }
      })

      var listTwo = new Vue({
          el: "#list2",
          data: {
              object: {
                  answer: 'Difficult but possible',
                  title: 'How to learn Vue',
                  author: 'Mr Nobody',
                  date: '2019-06-24'
              }
          }
      })

      var elem = new Vue ({
          el: "#element",
          data: {
              items: [
                  {
                      id: 3,
                      message: 'Третий'
                  },
                  {
                      id: 1,
                      message: 'Первый'
                  },
                  {
                      id: 2,
                      message: 'Второй'
                  }
              ]
          }
      })
    </script>
  </body>
</html>