<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
  </head>
  <body>
  <style>
    body {
      background-image: url("img/bg_gray_sfweb_small.jpg");
      background-repeat: repeat;
    }
  </style>
    <div id="app">
      {{ message }}
    </div>

    <div id="app2">
      <span v-bind:title="sms">
        Наведи на меня курсор на пару секунд,
    чтобы увидеть динамически связанное значение title!
      </span>
    </div>

    <div id="app3">
      <span v-if="seen">Я есть</span>
    </div>

    <div id="app4">
      <ol>
        <li v-for="item in arr">
          {{ item.text }}
        </li>
      </ol>
    </div>

    <div id="app5">
      <p>{{ message }}</p>
      <button v-on:click="reverseMessage"  v-on:dblclick="oneMoreMethod">Перевернуть сообщение</button>
    </div>

    <div id="app6">
      <p>{{ message }}</p>
      <input v-model="message">
    </div>

    <div id="app7">
      <ol>
        <!-- item - это "штучка в кучке", может называться как угодно, это один элемент массива-->
        <!-- v-for создаст то кол-во li, сколько элементом в переданном из data массиве -->
        <!-- v-bind:todo -->  <!-- поддерживает состояние элемента в соответствии со значением входного параметра -->
        <todo-item
                v-for="item in groceryList"
                v-bind:todo="item"
                v-bind:key="item.id"
        ></todo-item>
      </ol>
    </div>

    <div id="app8">
      <p> {{ foo }} </p>
    </div>

    <div id="app9">
      <p>Сообщение: {{ rawHTML }}</p>
      <p>Сообщение: <span v-html="rawHTML"></span></p>
    </div>

    <div id="app11">
      <p>Сообщение (прямая интерполяция ТЕКСТА) : <span>{{ message1 }}</span></p>
      <p>Сообщение (прямая интерполяция КОДА) : <span>{{ message2 }}</span></p>
      <p>Сообщение (код через v-html) : <span v-html='message3'>{{ message3 }}</span></p>

      <button v-bind:disabled="isButtonDisabled">Кнопка</button>

      <p>{{ +number + 1 }}</p>
      <p>{{ ok ? 'Yes' : 'No' }}</p>
      <p>{{ a + number }}</p>

      <div v-bind:class="'list-' + id"></div>

      <ol>
        <li v-for="item in items" v-bind:class="'social social--' + item.mod "> {{ item.text }}</li>
      </ol>
    </div>

    <div>
      <div id="app12">
        <p> {{ text }} </p>
        <img :src="imgUrls.b" alt="">
        <img :src="imgUrls.a" alt="">
      </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
      var app = new Vue ({
          el: '#app',
          data: {
              message: 'Привет, Vue! Я тебя люблю!'
          }
      });

      var app2 = new Vue({
          el: '#app2',
          data: {
              sms: 'Вы загрузили эту страницу: ' + new Date().toLocaleString()
          }
      })

      var app3 = new Vue ({
          el: '#app3',
          data: {
              seen: true
          }
      })

      var app4 = new Vue ({
          el: '#app4',
          data: {
              arr: [
                  {text: 'Выучить Vue'},
                  {text: 'Выучить Webpack'},
                  {text: 'Стать крутым фронтом'}
              ]
          }
      })

      var app5 = new Vue ({
          el: '#app5',
          data: {
              message: 'Привет, Vue! Я тебя люблю!'
          },
          methods: {
              reverseMessage: function () {
                  this.message = this.message.split('').reverse().join('')
              },
              oneMoreMethod: function () {
                  this.message = this.message.split('').reverse().join(' ')
              }
          }
      });

      var app6 = new Vue ({
          el: '#app6',
          data: {
              message: 'Напиши тут что-нибудь'
          }
      })

      Vue.component('todo-item', {
          props: ['todo'],
          template: '<li>{{ todo.text }}</li>'
      });

      var app7 = new Vue({
          el: '#app7',
          data: {
              groceryList: [
                  {id: 0, text: 'Овощи'}, // каждый пункт - это item in groceryList
                  {id: 1, text: 'Сыр'}, // у каждого item есть свойство id и свойство text
                  {id: 2, text: 'Что там еще люди едят?'}
              ]
          }
      });

      var obj = {
          foo: 'bar'
      };

      Object.freeze(obj);

      new Vue({
          el: '#app8',
          data: obj
      });

      var app9 = new Vue ({
          el: '#app9',
          data: {
              rawHTML: '<span style="color: darkred">Этот текст красный</span>',
          }
      });

      var app11 = new Vue ({
          el: '#app11',
          data: {
              message1: 'Hello, World!',
              message2: '<span style="color: darkmagenta">Hello, World! Now it\\\'s </span><span style="color: darkmagenta">\' + new Date().toLocaleString() + \'</span>',
              message3: '<span style="color: darkmagenta">Hello, World! Now it\'s </span><span style="color: darkmagenta">' + new Date().toLocaleString() + '</span>',
              isButtonDisabled: 'yeah',
              number: 8,
              ok: true,
              a: 2,
              id: 'block',
              items: [
                  {
                      mod: 'fb',
                      text: 'Facebook'
                  },
                  {
                      mod: 'vk',
                      text: 'Вконтакте'
                  },
                  {
                      mod: 'tw',
                      text: 'Twitter'
                  }
              ]
          }
      })

      var app12 = new Vue ({
        el: '#app12',
        data: {
          text: 'Привет, я текст! :-)',
          imgUrls: {
            a: 'img/banner.jpg',
            b: 'img/banner.webp'
          }
        }
      })
    </script>
  </body>
</html>